audio_files/test_files/afap014.txt
audio_files/test_files/afap014.wav
audio_files/test_files/afap018.txt
audio_files/test_files/afap018.wav
audio_files/test_files/afap026.txt
audio_files/test_files/afap026.wav
audio_files/test_files/afap028.txt
audio_files/test_files/afap028.wav
audio_files/test_files/afap033.txt
audio_files/test_files/afap033.wav
audio_files/test_files/afap038.txt
audio_files/test_files/afap038.wav
audio_files/test_files/afap052.txt
audio_files/test_files/afap052.wav
audio_files/test_files/afep005.txt
audio_files/test_files/afep005.wav
audio_files/test_files/afhp001.txt
audio_files/test_files/afhp001.wav
audio_files/test_files/afhp003.txt
audio_files/test_files/afhp003.wav
audio_files/test_files/afhp013.txt
audio_files/test_files/afhp013.wav
audio_files/test_files/afhp015.txt
audio_files/test_files/afhp015.wav
audio_files/test_files/afhp019.txt
audio_files/test_files/afhp019.wav
audio_files/test_files/afhp020.txt
audio_files/test_files/afhp020.wav
audio_files/test_files/afhp023.txt
audio_files/test_files/afhp023.wav
audio_files/test_files/afhp048.txt
audio_files/test_files/afhp048.wav
audio_files/test_files/afhp051.txt
audio_files/test_files/afhp051.wav
audio_files/test_files/afhp057.txt
audio_files/test_files/afhp057.wav
audio_files/test_files/afhp070.txt
audio_files/test_files/afhp070.wav
audio_files/test_files/afhp072.txt
audio_files/test_files/afhp072.wav
audio_files/test_files/afhp073.txt
audio_files/test_files/afhp073.wav
audio_files/test_files/afhp075.txt
audio_files/test_files/afhp075.wav
audio_files/test_files/afhp080.txt
audio_files/test_files/afhp080.wav
audio_files/test_files/afhp081.txt
audio_files/test_files/afhp081.wav
audio_files/test_files/afhp088.txt
audio_files/test_files/afhp088.wav
audio_files/test_files/afhp093.txt
audio_files/test_files/afhp093.wav
audio_files/test_files/afhp105.txt
audio_files/test_files/afhp105.wav
audio_files/test_files/afhp108.txt
audio_files/test_files/afhp108.wav
audio_files/test_files/afhp125.txt
audio_files/test_files/afhp125.wav
audio_files/test_files/afhp126.txt
audio_files/test_files/afhp126.wav
audio_files/test_files/afhp127.txt
audio_files/test_files/afhp127.wav
audio_files/test_files/afhp128.txt
audio_files/test_files/afhp128.wav
audio_files/test_files/afhp133.txt
audio_files/test_files/afhp133.wav
audio_files/test_files/afhp137.txt
audio_files/test_files/afhp137.wav
audio_files/test_files/afhp140.txt
audio_files/test_files/afhp140.wav
audio_files/test_files/afhp141.txt
audio_files/test_files/afhp141.wav
audio_files/test_files/afhp142.txt
audio_files/test_files/afhp142.wav
audio_files/test_files/afhp144.txt
audio_files/test_files/afhp144.wav
audio_files/test_files/afhp145.txt
audio_files/test_files/afhp145.wav
audio_files/test_files/afhp149.txt
audio_files/test_files/afhp149.wav
audio_files/test_files/afjp002.txt
audio_files/test_files/afjp002.wav
audio_files/test_files/afjp004.txt
audio_files/test_files/afjp004.wav
audio_files/test_files/afjp011.txt
audio_files/test_files/afjp011.wav
audio_files/test_files/afjp013.txt
audio_files/test_files/afjp013.wav
audio_files/test_files/afjp014.txt
audio_files/test_files/afjp014.wav
audio_files/test_files/afjp020.txt
audio_files/test_files/afjp020.wav
audio_files/test_files/afjp023.txt
audio_files/test_files/afjp023.wav
audio_files/test_files/afjp027.txt
audio_files/test_files/afjp027.wav
audio_files/test_files/afjp031.txt
audio_files/test_files/afjp031.wav
audio_files/test_files/afjp035.txt
audio_files/test_files/afjp035.wav
audio_files/test_files/afjp038.txt
audio_files/test_files/afjp038.wav
audio_files/test_files/afjp039.txt
audio_files/test_files/afjp039.wav
audio_files/test_files/afjp040.txt
audio_files/test_files/afjp040.wav
audio_files/test_files/afjp041.txt
audio_files/test_files/afjp041.wav
audio_files/test_files/afjp042.txt
audio_files/test_files/afjp042.wav
audio_files/test_files/afjp053.txt
audio_files/test_files/afjp053.wav
audio_files/test_files/afjp058.txt
audio_files/test_files/afjp058.wav
audio_files/test_files/afjp064.txt
audio_files/test_files/afjp064.wav
audio_files/test_files/afjp071.txt
audio_files/test_files/afjp071.wav
audio_files/test_files/afmp010.txt
audio_files/test_files/afmp010.wav
audio_files/test_files/afmp023.txt
audio_files/test_files/afmp023.wav
audio_files/test_files/afmp029.txt
audio_files/test_files/afmp029.wav
audio_files/test_files/afmp039.txt
audio_files/test_files/afmp039.wav
audio_files/test_files/afmp040.txt
audio_files/test_files/afmp040.wav
audio_files/test_files/afmp049.txt
audio_files/test_files/afmp049.wav
audio_files/test_files/afmp054.txt
audio_files/test_files/afmp054.wav
audio_files/test_files/afmp073.txt
audio_files/test_files/afmp073.wav
audio_files/test_files/afmp090.txt
audio_files/test_files/afmp090.wav
audio_files/test_files/afmp097.txt
audio_files/test_files/afmp097.wav
audio_files/test_files/afmp104.txt
audio_files/test_files/afmp104.wav
audio_files/test_files/afmp107.txt
audio_files/test_files/afmp107.wav
audio_files/test_files/afmp112.txt
audio_files/test_files/afmp112.wav
audio_files/test_files/afmp113.txt
audio_files/test_files/afmp113.wav
audio_files/test_files/afmp123.txt
audio_files/test_files/afmp123.wav
audio_files/test_files/afmp136.txt
audio_files/test_files/afmp136.wav
audio_files/test_files/afmp149.txt
audio_files/test_files/afmp149.wav
audio_files/test_files/afmp158.txt
audio_files/test_files/afmp158.wav
audio_files/test_files/afmp163.txt
audio_files/test_files/afmp163.wav
audio_files/test_files/afmp174.txt
audio_files/test_files/afmp174.wav
audio_files/test_files/afmp189.txt
audio_files/test_files/afmp189.wav
audio_files/test_files/afmp191.txt
audio_files/test_files/afmp191.wav
audio_files/test_files/afmp203.txt
audio_files/test_files/afmp203.wav
audio_files/test_files/afmp206.txt
audio_files/test_files/afmp206.wav
audio_files/test_files/afmp214.txt
audio_files/test_files/afmp214.wav
audio_files/test_files/afmp220.txt
audio_files/test_files/afmp220.wav
audio_files/test_files/afmp307.txt
audio_files/test_files/afmp307.wav
audio_files/test_files/afmp318.txt
audio_files/test_files/afmp318.wav
audio_files/test_files/afmp342.txt
audio_files/test_files/afmp342.wav
audio_files/test_files/afmp357.txt
audio_files/test_files/afmp357.wav
audio_files/test_files/afpp002.txt
audio_files/test_files/afpp002.wav
audio_files/test_files/afpp020.txt
audio_files/test_files/afpp020.wav
audio_files/test_files/afpp040.txt
audio_files/test_files/afpp040.wav
audio_files/test_files/afpp043.txt
audio_files/test_files/afpp043.wav
audio_files/test_files/afpp071.txt
audio_files/test_files/afpp071.wav
audio_files/test_files/afpp073.txt
audio_files/test_files/afpp073.wav
audio_files/test_files/afpp097.txt
audio_files/test_files/afpp097.wav
audio_files/test_files/afpp135.txt
audio_files/test_files/afpp135.wav
audio_files/test_files/afpp137.txt
audio_files/test_files/afpp137.wav
audio_files/test_files/afpp138.txt
audio_files/test_files/afpp138.wav
audio_files/test_files/afpp141.txt
audio_files/test_files/afpp141.wav
audio_files/test_files/afpp146.txt
audio_files/test_files/afpp146.wav
audio_files/test_files/afpp152.txt
audio_files/test_files/afpp152.wav
audio_files/test_files/afpp161.txt
audio_files/test_files/afpp161.wav
audio_files/test_files/afpp170.txt
audio_files/test_files/afpp170.wav
audio_files/test_files/afpp177.txt
audio_files/test_files/afpp177.wav
audio_files/test_files/afpp197.txt
audio_files/test_files/afpp197.wav
audio_files/test_files/afpp211.txt
audio_files/test_files/afpp211.wav
audio_files/test_files/afpp212.txt
audio_files/test_files/afpp212.wav
audio_files/test_files/afpp215.txt
audio_files/test_files/afpp215.wav
audio_files/test_files/afpp225.txt
audio_files/test_files/afpp225.wav
audio_files/test_files/afpp228.txt
audio_files/test_files/afpp228.wav
audio_files/test_files/afpp229.txt
audio_files/test_files/afpp229.wav
audio_files/test_files/afpp239.txt
audio_files/test_files/afpp239.wav
audio_files/test_files/afpp255.txt
audio_files/test_files/afpp255.wav
audio_files/test_files/afpp257.txt
audio_files/test_files/afpp257.wav
audio_files/test_files/afpp271.txt
audio_files/test_files/afpp271.wav
audio_files/test_files/afpp272.txt
audio_files/test_files/afpp272.wav
audio_files/test_files/afpp281.txt
audio_files/test_files/afpp281.wav
audio_files/test_files/afpp294.txt
audio_files/test_files/afpp294.wav
audio_files/test_files/afpp306.txt
audio_files/test_files/afpp306.wav
audio_files/test_files/afpp309.txt
audio_files/test_files/afpp309.wav
audio_files/test_files/afpp314.txt
audio_files/test_files/afpp314.wav
audio_files/valid_audio/.DS_Store
audio_files/valid_audio/afap024.txt
audio_files/valid_audio/afap024.wav
audio_files/valid_audio/afap045.txt
audio_files/valid_audio/afap045.wav
audio_files/valid_audio/afhp017.txt
audio_files/valid_audio/afhp017.wav
audio_files/valid_audio/afhp063.txt
audio_files/valid_audio/afhp063.wav
audio_files/valid_audio/afhp094.txt
audio_files/valid_audio/afhp094.wav
audio_files/valid_audio/afhp122.txt
audio_files/valid_audio/afhp122.wav
audio_files/valid_audio/afhp135.txt
audio_files/valid_audio/afhp135.wav
audio_files/valid_audio/afhp147.txt
audio_files/valid_audio/afhp147.wav
audio_files/valid_audio/afjp003.txt
audio_files/valid_audio/afjp003.wav
audio_files/valid_audio/afjp022.txt
audio_files/valid_audio/afjp022.wav
audio_files/valid_audio/afjp037.txt
audio_files/valid_audio/afjp037.wav
audio_files/valid_audio/afjp052.txt
audio_files/valid_audio/afjp052.wav
audio_files/valid_audio/afmp020.txt
audio_files/valid_audio/afmp020.wav
audio_files/valid_audio/afmp043.txt
audio_files/valid_audio/afmp043.wav
audio_files/valid_audio/afmp085.txt
audio_files/valid_audio/afmp085.wav
audio_files/valid_audio/afmp103.txt
audio_files/valid_audio/afmp103.wav
audio_files/valid_audio/afmp105.txt
audio_files/valid_audio/afmp105.wav
audio_files/valid_audio/afmp127.txt
audio_files/valid_audio/afmp127.wav
audio_files/valid_audio/afmp173.txt
audio_files/valid_audio/afmp173.wav
audio_files/valid_audio/afmp323.txt
audio_files/valid_audio/afmp323.wav
audio_files/valid_audio/afpp038.txt
audio_files/valid_audio/afpp038.wav
audio_files/valid_audio/afpp074.txt
audio_files/valid_audio/afpp074.wav
audio_files/valid_audio/afpp139.txt
audio_files/valid_audio/afpp139.wav
audio_files/valid_audio/afpp166.txt
audio_files/valid_audio/afpp166.wav
audio_files/valid_audio/afpp203.txt
audio_files/valid_audio/afpp203.wav
audio_files/valid_audio/afpp217.txt
audio_files/valid_audio/afpp217.wav
audio_files/valid_audio/afpp248.txt
audio_files/valid_audio/afpp248.wav
audio_files/valid_audio/afpp275.txt
audio_files/valid_audio/afpp275.wav
audio_files/valid_audio/afpp305.txt
audio_files/valid_audio/afpp305.wav
audio_files/valid_audio/afpp326.txt
audio_files/valid_audio/afpp326.wav
audio_files/test_files/.DS_Store
